body{
    background-color: #ebebeb;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    user-select: none;
}
.main{
    width: 540px;
    margin: auto;
}
.topnavbar{
    width: 540px;
    height: 50px;
    /* background-color: #4781ff; */
    top:0px;
    left:50%;
    transform: translate(-50%);
    vertical-align: baseline;
    z-index: 100;
}
.navlogo{
    height: 100%;
    position: absolute;
    left: 15px;
    top: 0;
    align-items: center;
    justify-content: center;
}
.navlogo img{
    vertical-align: baseline;
    height: 100%;
}
.content-right{
    position: absolute;
    right: 15px;
    top: 0;
    height: 50px;
    display: flex;
    align-items: center;
}
.content-right i{
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.gamelist{
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 90px;
    background: rgb(10,49,129);
    background: linear-gradient(47deg, rgba(10,49,129,0.9921218487394958) 0%, rgba(69,110,197,1) 39%, rgba(162,192,255,1) 100%);
    color: white;
}
.gamelist .title{
    width: 80%;
    padding: 10px;
}
.gamelist .title p{
    font-size: 12px;
}
.gamelist .image img{
    height: 100%;
}

.recentwinnerlist{
    height: 55px;
    vertical-align: baseline;
}






@media only screen and (max-width: 600px) {
    .main{
        width: 100%;
    }
    .topnavbar{
        width: 100%;
        left:0;
        transform: none;
    }
  }