body{
    background-color: #ebebeb;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    user-select: none;
}
a{
    text-decoration: none;
}
.main{
    width: 540px;
    margin: auto;
}
.topnavbar{
    width: 540px;
    height: 50px;
    /* background-color: #4781ff; */
    top:0px;
    left:50%;
    transform: translate(-50%);
    vertical-align: baseline;
    z-index: 100;
}
.navlogo{
    height: 100%;
    position: absolute;
    /* left: 15px; */
    top: 0;
    align-items: center;
    justify-content: center;
}
.navlogo img{
    vertical-align: baseline;
    height: 100%;
}
.content-right{
    position: absolute;
    right: 15px;
    top: 0;
    height: 50px;
    display: flex;
    align-items: center;
}
.content-right i{
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.gamelist{
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 90px;
    background: rgb(10,49,129);
    background: linear-gradient(47deg, rgba(10,49,129,0.9921218487394958) 0%, rgba(69,110,197,1) 39%, rgba(162,192,255,1) 100%);
    color: white;
}
.gamelist .title{
    width: 80%;
    padding: 10px;
}
.title h2{
    margin-bottom: 0px;
}
.gamelist .title p{
    font-size: 12px;
}
.gamelist .image img{
    height: 100%;
}

.recentwinnerlist{
    height: 55px;
    align-items: center;
    justify-content: space-between;
}
.recentwinnerlist strong{
    align-items: center;
}
.recentwinnerlist img{
    height: 100%;
}
.recentwinnerlist span{
    font-weight: normal;
}

.dailyProfitRank h1[data-v-b3079b66] {
    position: relative;
    margin-bottom: 1.89333rem;
    padding-left: .26667rem;
    font-size: .48rem;
    font-weight: 700
}

.dailyProfitRank h1[data-v-b3079b66]:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: .08rem;
    height: .4rem;
    background: #4781ff
}

.dailyProfitRank__content[data-v-b3079b66] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.dailyProfitRank__content-topThree[data-v-b3079b66] {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    width: 100%;
    height: 3.33333rem;
    z-index: 1;
    margin-bottom: 3.5rem;
    background: url(/assets/png/stage-f4b9bef4.png) no-repeat center center/100% 100%
}

.dailyProfitRank__content-topThree__item[data-v-b3079b66] {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 3rem;
    height: 4rem
}

.dailyProfitRank__content-topThree__item[data-v-b3079b66]:nth-child(2) {
    right: .10667rem
}

.dailyProfitRank__content-topThree__item[data-v-b3079b66]:nth-child(3) {
    left: .16rem
}

.dailyProfitRank__content-topThree__item>div[data-v-b3079b66]:first-of-type {
    position: relative;
    display: grid;
    place-items: center;
    width: 4rem;
    min-width: 4rem;
    height: 4rem;
    min-height: 4rem;
    border-radius: 50%;
    overflow: hidden
}

.dailyProfitRank__content-topThree__item>div:first-of-type>img[data-v-b3079b66] {
    width: calc(100% - .06667rem);
    height: calc(100% - .06667rem)
}

.dailyProfitRank__content-topThree__item>div[data-v-b3079b66]:last-of-type {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width:4rem;
    height: 4rem
}

.dailyProfitRank__content-topThree__item>div:last-of-type img[data-v-b3079b66]:first-of-type {
    position: relative;
    top: -1.9rem;
    left: -1.9rem;
    width: 4rem
}

.dailyProfitRank__content-topThree__item>div:last-of-type img[data-v-b3079b66]:last-of-type {
    width: 4rem;
    height: 2rem
}

.dailyProfitRank__content-topThree__item>span[data-v-b3079b66] {
    color: #4781ff;
    padding: 0 .13333rem;
    text-align: center
}

.dailyProfitRank__content-topThree__item>span[data-v-b3079b66]:first-of-type {
    margin-block:45% 8%;
    font-size: .60rem;
    width: 5rem;
    white-space: nowrap;
    /* overflow: hidden; */
    text-overflow: ellipsis
}

.dailyProfitRank__content-topThree__item>span[data-v-b3079b66]:last-of-type {
    color: #fff;
    /* width: 4rem; */
    /* height: 4rem; */
    padding: .5rem .8rem;
    font-size: 12px;
    line-height: .32rem;
    text-align: center;
    border-radius: 9rem;
    background: -webkit-linear-gradient(left,#4ca6ff 1.9%,#57d1f9 98.57%);
    background: linear-gradient(90deg,#4ca6ff 1.9%,#57d1f9 98.57%)
}

.dailyProfitRank__content-list[data-v-b3079b66] {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: .21333rem;
    width: 100%
}

.dailyProfitRank__content-list__item[data-v-b3079b66] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 55px;
    padding: .14667rem .25333rem .14667rem .44rem;
    background: #fff;
    border-radius: .13333rem;
    box-shadow: 0 .05333rem .21333rem .02667rem #d0d0ed5c
}

.dailyProfitRank__content-list__item span.left-rank[data-v-b3079b66] {
    margin-right: .41333rem;
    color: #9ea3ad;
    font-size: 1rem;
    font-weight: 500
}

.dailyProfitRank__content-list__item span.middle-name[data-v-b3079b66] {
    color: #243047;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 8rem
}

.dailyProfitRank__content-list__item span.right-box[data-v-b3079b66] {
    line-height: .66667rem;
    /* width: 3.46667rem;
    height: .66667rem; */
    margin-left: auto;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 9rem;
    background: -webkit-linear-gradient(325.68deg,#50a1f2 12.08%,#85daff 85.02%);
    background: linear-gradient(124.32deg,#50a1f2 12.08%,#85daff 85.02%)
}

.dailyProfitRank__content-list__item img[data-v-b3079b66] {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 50%
}



.tabbar__container[data-v-2023d0f1] {
    position: fixed;
    bottom: 0;
    left: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    width: 540px;
    -webkit-transform: translateX(-50%);
    transform: translate(-50%);
    height: 4.5rem;
    padding-block:0 .13333rem;
    font-size: .8rem;
    background: url(/img/UI/tabBarBg-0de3c6ed.webp) no-repeat center center/cover;
    z-index: 100
}

.tabbar__container-item[data-v-2023d0f1] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    gap: .11707rem;
    color: #949494
}

.tabbar__container-item[data-v-2023d0f1]:nth-of-type(3) {
    position: relative
}

.tabbar__container-item[data-v-2023d0f1]:nth-of-type(3) svg {
    position: relative;
    top: -1rem;
    /* width: 1rem;
    height: 1rem; */
    z-index: 3
}

.tabbar__container-item[data-v-2023d0f1]:nth-of-type(3) svg path {
    fill: #fff!important
}

.tabbar__container-item:nth-of-type(3) .promotionBg[data-v-2023d0f1] {
    position: absolute;
    left: 50%;
    bottom: 1.7rem;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%);
    background: #fff;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    box-shadow: 0 -.08rem .16rem #d0d0ed80;
    z-index: 2
}

.tabbar__container-item:nth-of-type(3) .promotionBg[data-v-2023d0f1]:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: -webkit-linear-gradient(top,#6b7cff 0%,#779fff 100%);
    background: linear-gradient(180deg,#6b7cff 0%,#779fff 100%)
}

.tabbar__container-item svg[data-v-2023d0f1] {
    display: block;
    width: 1.7rem;
    height: 2rem
}

.tabbar__container-item.active[data-v-2023d0f1] {
    color: #4781ff
}

.tabbar__container-item.active[data-v-2023d0f1] svg circle {
    fill: #4781ff
}

.tabbar__container-item.active[data-v-2023d0f1] svg path {
    fill: #4781ff
}

.tabbar__container-item.active[data-v-2023d0f1] svg.wallet path {
    fill: none;
    stroke: #4781ff
}

@media screen and (max-width: 500px) {
    .tabbar__container[data-v-2023d0f1] {
        width:100%;
        left: 0;
        -webkit-transform: translateX(0);
        transform: translate(0)
    }
}
.walletDiv{
    position: relative;
}
.walletDiv h2{
    position: relative;
    color: white;
    text-align: center;

}
.walletDiv h2::after{
    content: "";
    display: block;
    position: absolute;
    right: 10px;
    top: 0;
    width: 31px;
    height: 31px;
    background-image: url(/img/UI/icons8-reload-50.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
}

.walletBal{
    display: inline-block;
    padding-left: 30px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAMAAAC5zwKfAAAAe1BMVEUAAAD/P1T/PlP/9C3/R2T/Hzr/Ijv/Jz7/IDr/Mk7/O1L/Hzr/O1L/Nk7/Qlj/Qlz/IDr/PVP/ITv/Ij3/Hzr/PFL/1DL/8i//Ijz/O1L/8yv/Hzr/rjr/xTX/3C//6C3/aUj/ojz/Uk3/Xkr/lz7/RlD/dUb/hkH/0TJEpa1CAAAAGXRSTlMAYWKgE++BQsAi7+DbUkIysKCRcd/AwGJhd8HDxwAAARFJREFUWMPt1ElvgzAQhmHS2kAIS5ZueMAQyPb/f2E1VavK0OaQ+Q6RMu/JFz+yzOBI0/5uieVMbGOkl6yIrMFxKXFbEGe29F0C8WJLP6Wgy/utEI9KSkEvRjgqNE00OjtLs+xSNirz1rde3pr+KbnxP5tBktH5WNGVdtdOsslqQdlm+onyWthr6JW1uCoAF3LwSUEFFVRQQQjYN96FPUvAsWUCB46dg4IDe0iwdViwd2Bw77jD6exBYPvl8VGR4MgrjwEb3t7zqsOAZ95+GfgyMeDRcV3bOQwYnAwDHj0S5IYLFOQOHgpyp30T9PZ+Zy+2ggoqeI9gIQfLADSZ1MtNFFTlMi+rokmmXAgqTKQ9UJ9lIW92vx/DqgAAAABJRU5ErkJggg==);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 20px;
    color: white;
    margin: auto;
}
.gameWinType{
    height: 100%;
    line-height: 15px;
    font-size: 14px;
    margin: auto;
    color: #b2b2b2;
    padding-top: 55px;
    background-image: url(/img/UI/watch.webp);
    background-size: 50px;
    background-position: center 0.18667rem;
    background-repeat: no-repeat;
    cursor: pointer;
}
.gt.active{
    background: -webkit-linear-gradient(top, #4da6ff 0%, rgba(127, 220, 237, .5) 100%);
    background: linear-gradient(180deg, #4da6ff 0%, rgba(127, 220, 237, .5) 100%);
    box-shadow: inset 0 -0.02667rem 0.08rem #dbfaff, inset 0 0.02667rem 0.08rem #dbfaff;
    border-radius: 15px;
    
}
.gt.active .gameWinType{
    background-image: url(/img/UI/watchActive.webp);
    background-size: 50px;
    background-position: center 0.18667rem;
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
}


.TimeLeft__C[data-v-9f2c21eb] {
    /* width: calc(100% - .69333rem); */
    height: 90px;
    margin: 25px auto 0;
    background-image: url(/img/UI/diban-8d73e5a0.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: .01333rem center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    color: #fff
}

.TimeLeft__C-rule[data-v-9f2c21eb] {
    position: absolute;
    top: 10px;
    left: 15px;
    /* height: .61333rem; */
    /* width: 4rem; */
    font-size: 14px;
    text-align: center;
    border: .01333rem solid #fff;
    border-radius: .8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
}

.TimeLeft__C-rule[data-v-9f2c21eb]:before {
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAANlBMVEUAAAD////////////////////////////////////////////////////////////////////xY8b8AAAAEXRSTlMAv2DfkCDvcBCvnzDPgFBAXz1CD60AAACTSURBVDjL5ZNLDsMgDEQHjPkmbbn/ZQskqUzl7CJlkbdAMDxbsDDugd3i64RfMs/Oq6p8pBNJl3ycG+lYIbkzyQkpnUlZSGZURdsWuxOoZ+ZfKgBV8QRVcni3/vZA6aRwsfSs3z1bSluS6DdLeYuSkNaeF4B3ixgofaLDPJym5eOm+2PP1GXJcQpV1HOEzko+4F6+jgwmeQTHRtsAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center
}

.TimeLeft__C-name[data-v-9f2c21eb] {
    position: absolute;
    top: 45px;
    left: 15px;
    height: .66667rem;
    line-height: .66667rem;
    border-radius: .13333rem;
    font-size: 14px;
    padding: 0 .16rem
}

.TimeLeft__C-num[data-v-9f2c21eb] {
    position: absolute;
    height: .66667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    left: .29333rem;
    bottom: .30667rem
}

.TimeLeft__C-num>div[data-v-9f2c21eb] {
    width: .66667rem;
    height: .66667rem;
    background-repeat: no-repeat;
    background-size: .66667rem
}

.TimeLeft__C-num>div+div[data-v-9f2c21eb] {
    margin-left: .16rem
}

.TimeLeft__C-num>div.n0[data-v-9f2c21eb] {
    background-image: url(/assets/png/n0-51213645.png)
}

.TimeLeft__C-num>div.n1[data-v-9f2c21eb] {
    background-image: url(/assets/png/n1-8de0d143.png)
}

.TimeLeft__C-num>div.n2[data-v-9f2c21eb] {
    background-image: url(/assets/png/n2-83e5ee6e.png)
}

.TimeLeft__C-num>div.n3[data-v-9f2c21eb] {
    background-image: url(/assets/png/n3-1a88ea08.png)
}

.TimeLeft__C-num>div.n4[data-v-9f2c21eb] {
    background-image: url(/assets/png/n4-05ab0431.png)
}

.TimeLeft__C-num>div.n5[data-v-9f2c21eb] {
    background-image: url(/assets/png/n5-5eed76ab.png)
}

.TimeLeft__C-num>div.n6[data-v-9f2c21eb] {
    background-image: url(/assets/png/n6-d7438cd9.png)
}

.TimeLeft__C-num>div.n7[data-v-9f2c21eb] {
    background-image: url(/assets/png/n7-1d3858e0.png)
}

.TimeLeft__C-num>div.n8[data-v-9f2c21eb] {
    background-image: url(/assets/png/n8-c10e1c90.png)
}

.TimeLeft__C-num>div.n9[data-v-9f2c21eb] {
    background-image: url(/assets/png/n9-b0db0556.png)
}

.TimeLeft__C-id[data-v-9f2c21eb] {
    position: absolute;
    bottom: 18px;
    right: 15px;
    font-weight: 700;
    font-size: 18px;
    height: .52rem;
    line-height: .52rem
}

.TimeLeft__C-text[data-v-9f2c21eb] {
    height: .4rem;
    line-height: .4rem;
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 15px;
}

.TimeLeft__C-time[data-v-9f2c21eb] {
    height: 25px;
    line-height: 25px;
    position: absolute;
    bottom: 40px;
    right: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.TimeLeft__C-time>div[data-v-9f2c21eb] {
    background-color: #fff;
    color: #4781ff;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    padding: 0 4px;
}

.TimeLeft__C-time>div+div[data-v-9f2c21eb] {
    margin-left: .12rem
}

.TimeLeft__C-time>div[data-v-9f2c21eb]:first-child {
    background: -webkit-linear-gradient(315deg,transparent .13333rem,#fff 0) 0 0;
    background: linear-gradient(135deg,transparent .13333rem,#fff 0) 0 0
}

.TimeLeft__C-time>div[data-v-9f2c21eb]:last-child {
    background: -webkit-linear-gradient(135deg,transparent .13333rem,#fff 0) 0 0;
    background: linear-gradient(-45deg,transparent .13333rem,#fff 0) 0 0
}








@media only screen and (max-width: 600px) {
    .main{
        width: 100%;
    }
    .topnavbar{
        width: 100%;
        left:0;
        transform: none;
    }
  }